.container {
	width: 100%;
	max-width: 1037px;
	margin: 160px auto;
}

.top-tiles {
	display: flex;
	margin: 0 10px;
}

.tiles-block {
	display: flex;
	width: 100%;
	max-width: 503.5px;
	margin-left: 10px;
}

.top-tile__block {
	margin-left: 10px;
	width: 100%;
	max-width: 246.75px;
}

.top-tile__block:first-child, .tiles-block:first-child {
	margin-left: 0;
}

.tiles-title {
	height: 40px;
	background: #1c1c1c;
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.block__sub {
	background: #1c1c1c;
	border-radius: 8px;
	margin-top: 10px;

	/* opacity:0; */
	/* transition: .5s;
	animation: show 2s 1;
	animation-fill-mode: forwards; */
}

.top-lines {
	color: white;
	font-size: 14px;
	height: 30px;
	padding: 0 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.warning {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: red;
	font-size: 14px;
	height: 40px;
}

@media screen and (max-width: 1086px) {
	.tiles-block {
		margin-left: 0;
	}

	.tiles-block:last-child {
		margin-top: 20px;
	}

	.top-tiles {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 553px) {
	.tiles-block {
		flex-direction: column;
		align-items: center;
	}

	.top-tile__block {
		margin-top: 20px;
		margin-left: 0;
	}

	.tiles-block:last-child {
		margin: 0;
	}
}

@media screen and (max-width: 285px) {
	.top-tiles {
		padding: 0;
	}
}

/* @keyframes show{
		0%{
			opacity:0;
		}
		100% {
			opacity: 1;
		}
} */